<div class="container container-banner">
    <div class="flexslider">
      <ul class="slides">
          <li>
              <div class="agileits_w3layouts_banner_info">
              <h3>Electrical & Mechanical Services </h3>
              <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
              </div>
          </li>
            <li>
                <div class="agileits_w3layouts_banner_info">
                    <h3>Safety In The Home</h3>
                    <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </li>
            <li>
                <div class="agileits_w3layouts_banner_info">
                    <h3>Tools & Specialist Equipment</h3>
                    <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </li>
      </ul>
    </div>
