<div class="services">
		<div class="container">
			<div class="heading_section">
				<h3 class="wthree_head">Welcome to {{site_name}}</h3>
				<p class="mcc_para">Etiam malesuada odio vitae enim malesuada accumsan diam sed.</p>
			</div>
			<div class="services_grids row-l">
			<div class="col-6-l services_right">
					<img src="/public/images/ding.jpg" alt=" " class="img-responsive">
				</div>
				<div class="col-6-l services_left">
					<div class="left_grid row-l">
						<div class="col-3 services_left_gridl">
							<div class="mc-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="mc-icon fas fa-bolt"> </i>
							</div>
						</div>
						<div class="col-9 services_left_gridr">
							<h4>Our Services</h4>
							<p>Maecenas bibendum nisi purus, in ullamcorper nisl aliquam id.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
					<div class="services_left_grid row-l">
						<div class="col-3 services_left_gridl">
							<div class="mc-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="mc-icon fas fa-plug"> </i>
							</div>
						</div>
						<div class="col-9 services_left_gridr">
							<h4>Quality certification</h4>
							<p>Maecenas bibendum nisi purus, in ullamcorper nisl aliquam id.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="services_left_grid row-l">
						<div class="col-3 services_left_gridl">
							<div class="mc-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="mc-icon fas fa-power-off"> </i>
							</div>
						</div>
						<div class="col-9 services_left_gridr">
							<h4>Manufacturing process</h4>
							<p>Maecenas bibendum nisi purus, in ullamcorper nisl aliquam id.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
