<?php
$basedir = __DIR__ . '/../';
$site = require(__DIR__ . "/site.php");

return array_merge($site, array(
// Environment
    'php.error_reporting' => E_ALL,
    'php.display_errors'  => true,
    'php.log_errors'      => true,
    'php.error_log'       => $basedir . 'logs/errors.txt',
    'php.date.timezone'   => 'America/New_York',

// SQLite
//    'db.dsn'              => 'sqlite:' . $basedir . 'db/sqlite.db',

// MySQL
    'db.dsn'              => 'mysql:host=localhost;dbname=mcc_trading',
    'db.username'         => 'root',
    'db.password'         => 'fangjian',

// Application paths
    'path.routes'         => $basedir . 'routes/',
    'path.templates'      => $basedir . 'templates/',
    'twig.dir'            => $basedir . 'src/twig/',
    'debug'               => true,

    'img.prod.path'            => "/public/images/prod/",
    'img.banner.path'            => "/public/images/banner/",
));
