<div class="content">
    <div class="heading_section">
        <h3 class="wthree_head">About Us</h3>
        <p class="mcc_para">
    MCC Trading Co., Ltd. specialises in the manufacturing and export of Industrial Fasteners and OEM products.
       </p>
    </div>

    <div class="row">
    <img src="/public/images/ding.jpg" class="col-6"/>
    <div class="text col-6" >
    <p>
    With the huge and growing demands for fasteners, we aim to provide you with good quality fasteners and products at a competitive price.
    </p>
    <p>
    With the main focus on quality of our products and a solutions driven approach, our aim with all our customers is to achieve a long term business relation through forging a close working relation by offering our extensive knowledge to solve their product needs. 
    </p>
    <p>
    We are committed to our customers’ trust and loyalty. This is our promise. 
    </p>
    <p>
    All products comes certified with our inspection report. We are also able to customise packing requirements in terms of carton design and quantity per carton.
    </p>
    <p>
        <h3>Major industries served includes the following.</h3>
        <ul>
            <li>Constructiou</li>
            <li>Marine and Shipyard</li>
            <li>Oil And gas</li>
            <li>Civil and Structure</li>
            <li>OEM</li>
        </ul>
    </p>
    <p>
        For more information, please send us a mail at <a href="mailto:{{site_email}}">{{site_email}}</a>
    </p>
    <p>
   </div>
   </div>
</div>
