<div class="information">
    <h3>Our speciality / line of materials includes:</h3>
    <p>
        <ul class="materials">
            <li>Stainless Steel Fasteners Grade SS304 / SS316 / ASTM B8/ ASTM B8M</li>
            <li>Super Duplex Fasteners Grade UNS32750/ 32760</li>
            <li>Titanium (Ti) Grade Fasteners</li>
            <li>Hastealloy Fasteners </li>
            <li>Structural Grade Fasteners A325/A325M, ASTM A490</li>
            <li>F10T / S10T Fastenrs</li>
            <li>Alloy Steel Fasteners A193 B7/B7M, ASTM A320 L7/L7M </li>
            <li>High Tensile Fasteners G8.8 / G10.9 / G12.9 Fasteners</li>
        </ul>
    </p>

    <h3>Material Reads</h3>
    <ul>
    <li>
        <h4 class="bold">Stainless Steel Products</h4>
        <p>
        Mainly used for its corrosion resistance capabilities and being excellent in atmospheric environments, Stainless fasteners are widely used in Construction, Oil and Gas, Petrochemical, Shipbuilding, Pharmaceutical and various other industries.
        </p>
        SS304
        <p>
        Grade 304 is the standard "18/8" stainless; it is the most versatile and most widely used stainless steel, available in a wider range of products, forms and finishes than any other. It has excellent forming and welding characteristics. 
        </p>
        <p>
        The balanced austenitic structure of Grade 304 enables it to be severely deep drawn without intermediate annealing
        </p>

        SS316
        <p>
        Grade 316 is the standard molybdenum-bearing grade, second in importance to 304 amongst the austenitic stainless steels. 
        </p>
        <p>
        The molybdenum gives 316 better overall corrosion resistant properties than Grade 304, particularly higher resistance to pitting and crevice corrosion in chloride environments. It has excellent forming and welding characteristics.
        </p>
        <p>
        316 is usually regarded as the standard “marine grade stainless steel”, but it is not resistant to warm sea water. In many marine environments 316 does exhibit surface corrosion, usually visible as brown staining. This is particularly associated with crevices and rough surface finish.
        </p>
    </li>
    <li>
        <h4 class="bold">Carbon Steel / Alloy Steel Fasteners</h4>
        <p>
        Widely used across all industries, particularly Construction, Civil and Structure, Oil and Gas, Shipbuilding, Transportation among others, carbon steel fasteners, particularly Grade 8.8/ 10.9 and A325 are the most commonly used grades in the market. 
        </p>
        <p>
        ASTM A193 B7/ B7M, ASTM B8/ B8M, ASTM A320 L7/L7M fasteners are particularly commonly used in Oil and Gas / Petrochem Industries.
        </p>
    </li>
    <li>
        <h4 class="bold">Duplex / Super Duplex Fasteners</h4>
        <p>
        Super Duplex Stainless Steel is a low cost aesthetic alloy with primary resistance to corrosion. Super Duplex Stainless Steel is classified into austenitic, martensitic, ferritic, precipitation hardening and duplex structure Super Duplex Stainless Steel. 
        </p>
        <p>
        Super Duplex Stainless Steels are widely used in domestic and industrial applications across Oil & Gas, Fuel Processing, Food & Beverages, Chemical & Pharmaceutical Processing, Metal & Mineral Processing, Ship building and repair and general engineering industries.
        </p>
    </li>
    </ul>
    For more information, please send us a mail at <a href="mailto:{{site_email}}">{{site_email}}</a>
</div>
