<div class="row">
    <table border="1" class="stylish">
    <tr><th>DESCRIPTION</th><th>STANDARDS AVAILABLE</th><th>INCH</th><th>MM</th></tr>
    <tr><td>HEX HEAD BOLTS</td> <td>DIN 931, DIN 933, ANSI B18.2.1, BS 4190, BS 916</td>  <td>1/4" - 4"</td>  <td>M3 - M100</td></tr>
    <tr><td>HEAVY HEX BOLTS SERIES</td> <td>ASTM A193/193M, ASTM B8/B8M, ASTM A320L7/ L7M</td>  <td>1/4" - 4"</td>  <td>M3 - M100</td></tr>
    <tr><td>STRUCTURAL / TENSION CONTROL BOLTS</td> <td>F10T, S10T, ASTM A325/A325M, ASTM A490</td> <td>1/4" - 2"</td>  <td>M12 - M48</td></tr>
    <tr><td>HEX FLANGE BOLT</td>  <td>DIN 6921</td> <td></td> <td>M5 - M24</td></tr>
    <tr><td>SOCKET SCREWS</td>  <td>DIN 912, DIN 916, DIN 7991, ISO 7380</td> <td>1/4"-1-1/2"</td>  <td>M3-M48</td></tr>
    <tr><td>ROUND HEAD SQAURE NECK CARRIAGE BOLTS</td>  <td>DIN 603</td>  <td>5/16"-3/4"</td> <td>M6-M20</td></tr>
    <tr><td>FULLY THREADED ROD</td> <td>DIN 975, ASTM A193/193M, ASTM B8/B8M, ASTM A320L7/ L7M</td> <td>1/4" - 4"</td>  <td>M3 - M100</td></tr>
    <tr><td>HEX NUT</td>  <td>DIN 934, ANSI B18.2.2</td>  <td>1/4" - 4"</td>  <td>M3 - M100</td></tr>
    <tr><td>HEAVY HEX NUT</td>  <td>ASTM A194/194M, A563</td> <td>1/4" - 4"</td>  <td>M3 - M100</td></tr>
    <tr><td>SLEF LOCKING NYLON INSERT NUT</td>  <td>DIN 985</td>  <td>1/4"-2"</td>  <td>M3-M48</td></tr>
    <tr><td>Drop In Anchors / Wedge Anchors</td>  <td></td> <td>1/4" - 1"</td>  <td>M6 - M24</td></tr>
    <tr><td>SHEER WELDING STUDS</td>  <td>ISO 13918, JIS B 1198, AWSD 1.1 </td> <td></td> <td>M12 - M25</td></tr>
    <tr><td>U-BOLTS</td>  <td>STANDARD, NON-STANDARD, OEM</td>  <td>1/4" - 1"</td>  <td>M6 - M36</td></tr>
    <tr><td>WASHERS</td>  <td>VARIOUS FLAT / SPRING WASHERS AS PER DIN, ASME, ASTM, ISO STANDARDS</td>  <td>1/4" - 4"</td>  <td>M3 - M100</td></tr>
    </table>



    <table border="1" class="stylish">
      <caption>AVAILABLE MATERIAL TYPES</caption>
        <tr><td  rowspan="3" class="table-tr-bg">CARBON STEEL / ALLOY STEEL</td><td>ASTM A193 B7/ B7M</td></tr>
        <tr><td>ASTM A320 L7/ L7M</td></tr>
        <tr><td>G4.8 / G8.8 / G10.9 / G12.9</td></tr>
        <tr><td rowspan="4" class="table-tr-bg">STAINLESS</td><td>ASTM A193 B8/ B8M</td></tr>
        <tr><td>STAINLESS SS304/ SS316</td></tr>
        <tr><td>STAINLESS A2-70, A4-50, A4-70, A4-80</td></tr>
        <tr><td>DUPLEX/ SUPER DUPLEX UNS 32750/ 32760</td></tr>
        <tr><td class="table-tr-bg">BRASS</td><td>H59 / H62</td></tr>
        <tr><td class="table-tr-bg">HASTEALLOY</td><td>C22 / C276</td></tr>
        <tr><td class="table-tr-bg" style="border-bottom:none;">TITANIUM (Ti)</td><td>GR-1, GR-2, GR-5, GR-7</td></tr>
    </table>

    <table border="1" class="stylish">
      <caption>AVAILABLE FINISHES</caption>
        <tr><td>BLACK OXIDE / BLACK PHOSPHATE</td>  <td>ZINC CHROMATE PLATED / ELECTRO GALVANISED</td></tr>
        <tr><td>CADMIUM SILVER / CADMIUM YELLOW</td>  <td>HOT-DIP GALVANISED</td></tr>
        <tr><td>DACROMAT</td> <td>MECHANICAL GALVANISED</td></tr>
        <tr><td>PTFE XYLAN 1070/ 1424 BLUE, GREEN, RED, YELLOW</td> <td>-</td></tr>
    </table>
</div>
