<div class="detail__tabs-titles show-at-mmedium" role="tablist">
   <h2 class="detail__tab-title" data-tab-status="open" data-tab-key="panel-desc">
      <a class="detail__tab-toggle-link sans-bold-uppercase" role="tab" id="tab-1" aria-controls="panel-desc" href="javascript:void(0);" aria-selected="true">
        Description
      </a>
   </h2>

   <h2 class="detail__tab-title" data-tab-status="closed" data-tab-key="panel-size">
      <a class="detail__tab-toggle-link sans-bold-uppercase" role="tab" id="tab-3" aria-controls="panel-size" href="javascript:void(0);">Parameters</a>
   </h2>
</div>
